.log-in{
  width:400px;
  height:600px;
  background-color: rgb(149, 124, 172);
  border-radius:20px;
  margin:auto;
  margin-top:50px;
}

.form{
  display:flex;
  flex-direction: column;

  justify-content: space-around;
  height: 600px;
}

form input{
  margin-top:10px;
  
}

.header {
  background-color: bisque;
  height: 30px;
  font-size: 18px;
}
.header, ul{
  display: flex;
}

ul > li {
  list-style-type: none;
  margin-right: auto;
}
